/* RESETS GERAIS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #141414;

}

.container {
    padding-top: 4rem;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

/* ========== HEADER ========== */

header nav div.top-bar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}

/* header .menu-icon {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

header .menuicon div {
    font-size: 6px;
    color: #ffff;
} */

/*

flex-grow = define o quanto os filhos irão crescer te ocuparem o tamanho do pai, quanto maior o numero, maior será o espaço que o elemento irá ocupar

flex-shrink = determina o quanto o máximo que um elemento poderá ser diminuido na tela

flex-basis = determina qual será a largura miníma que um elemento ter

flex = é a abreviação do 'flex-grow: 1', 'flex-shrink: 1' e 'flex-basis: 0'

*/

/* ========== BANNER ========== */

section.banner {
    display: flex;
    margin: 56px 0;
    justify-content: space-between;
    position: relative;
}

div.banner-burger img {
    position: absolute;
    right: 0;
}

/* ========== SECTION SEARCH BURGER ========== */

section.search-burger {
    background-color: #1f1f1f;
    padding: 50px 0;
}

section.search-burger div.container {
    margin: 0 auto;
}

div.choices {
    display: flex;
    justify-content: space-between;
}

/* ========== SECTION BURGER ========== */

section.hamburgers .gourmet-burger {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: center;
    margin: 64px 104px;
}

section.hamburgers .gourmet-burger .icon-burger {
    padding: 15px 56px;
    background-color: #2B2B2B;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

section.hamburgers .gourmet-burger .icon-burger img {
    margin-bottom: -8vh;
}

section.hamburgers .gourmet-burger .info-burger {
    padding: 48px 40px;
    background-color: #1f1f1f;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

section.hamburgers .burgers {
    position: relative;
}

section.hamburgers .gourmet-burger .burgers:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

section.hamburgers .burgers p {
    position: absolute;
    top: 8%;
    left: 10%;
}

/* ========== FOOTER ========== */

footer {
    background-color: #1f1f1f;
    padding: 72px 0;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

footer #direitos {
    font-size: 18px;
    color: #5f5f5f;
}